fastapi==0.115.0
uvicorn[standard]==0.30.6

# Database
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
alembic==1.13.2

# Pydantic
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0

# Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# Forms & Environment
python-multipart==0.0.9
python-dotenv==1.0.1

# AI
google-generativeai==0.8.3
chromadb==0.5.5

# ChromaDB Dependencies
onnxruntime==1.19.2
tokenizers==0.20.1
orjson==3.10.7
grpcio==1.67.1
grpcio-status==1.67.1
protobuf==5.29.5

# Utilities
requests==2.32.3
tenacity==9.0.0
numpy==1.26.4